<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class="container">
        <%- include('partials/sidebar') %>
        <div class="middle" id="home-content">
            <h1><%= title %></h1>
            <% posts.forEach(post => { %>
                <div class="post">
                    <div>PFP</div>
                    <div class="postInfo">
                        <div class="postHeader">
                            <p><%= post.author.name %></p>
                            <p>Username * <%= post.date%></p>
                        </div>
                        <div class="postContent">
                            <p><%= post.content %></p>
                        </div>
                        <div class="postReactions">
                            <p>Likes: <%= post.likeCount %></p>
                            <p>Comments: <%= post.commentCount %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <%- include('partials/rightbar') %>
    </div>

    
</body>
</html>